body {
  margin: 0;
  padding: 0;
  background-image: url(../src/img/background.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 200px;
  

}

.wrapper {
  overflow: hidden;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  

}

